$white: rgb(251, 251, 251);
$dark: rgb(41, 54, 73);
.root {
  padding: 10px 0;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 10px;
  background-color: $white;
  color: $dark;
}

.buttons {
  button {
    margin-left: 10px;
    color: $dark;
  }
}
