.title {
  input {
    font-size: 42px;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.image {
  width: 100%;
}

.tags {
  margin-right: 10px;
  padding: 5px;
  border: 3px solid rgb(205, 229, 255);
  border-radius: 10px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.editor {
  margin: 30px -30px;

  :global {
    .cm-s-easymde {
      border: 0;
      font-size: 22px;
    }
    .editor-toolbar {
      border: 0;
      background-color: rgba(0, 0, 0, 0.02);
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}
