$white: rgb(251, 251, 251);
$dark: rgb(41, 54, 73);
.root {
  border-radius: 3px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  width: calc(33.333% - 10px);
  height: 300px;
  z-index: 3;
  &Full {
    width: 100%;
    .editButtons {
      opacity: 1;
    }
  }
  &Image * {
    color: #fff !important;
  }
  &Image .wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &:hover .editButtons {
    opacity: 1;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  &Full {
    min-height: 300px;
    height: 100%;
  }
}

.wrapper {
  padding: 15px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 30px 0 50px;

  p {
    font-size: 22px;
    line-height: 36px;
  }
}

.indention {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .postDate {
    font-size: 14px;
    font-weight: 900;
  }
}
.text {
  flex: 1 1 auto;
  max-height: 100px;
  overflow: hidden;
}
.title {
  font-size: 28px;
  margin: 0;

  &Full {
    font-size: 42px;
    font-weight: 900;
  }
}

.tags {
  padding: 0;
  margin: 0 -10px;
}

.postDetails {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;

    svg {
      opacity: 0.5;
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 10px;
  opacity: 0;
  svg {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    path {
      color: $dark;
    }
  }
  svg:hover {
    transform: scale(1.2);
  }
}
